@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: #ffffff;
}
.Cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100px; /* Задайте нужные размеры */
  height: 100px;
  transition: fill 0.3s; /* Добавляем плавный переход для цвета */
}
.clearIcon {
  position: relative;
  left: -130px;
  width: 20px;
  height: 25px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.clearIcon:hover {
  opacity: 0.8;
}
.Svg {
  fill: blue;
}
.Main {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
