@import './assets/scrollbar.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: #ffffff;
}

.Cards {
  margin: 30px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 0 20px;
}

.Favorites {
  margin: 30px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100px;
  height: 100px;
  transition: fill 0.3s;
}

.clearIcon:hover {
  opacity: 0.8;
}

.Svg {
  fill: blue;
}

.button {
  background-color: rgb(76, 138, 197);
  padding: 10px;
  color: white;
  width: 100;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  transition: 20ms;
}

.button:hover {
  opacity: 0.8;
  font-size: 18px;
}

.buttonCard {
  background-color: rgb(76, 138, 197);
  padding: 7px;
  color: white;
  width: 100;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  transition: 20ms;
}

.buttonCard:hover {
  opacity: 0.8;
}

/* Responsive Grid Breakpoints */
@media screen and (max-width: 1440px) {
  .Cards,
  .Favorites {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .Cards,
  .Favorites {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .Cards,
  .Favorites {
    grid-template-columns: 1fr;
  }
}
