@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100px;
  height: 100px;
  transition: fill 0.3s;
}
@media screen and (max-width: 1202px) {
  .Favorit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }
}
@media screen and (max-width: 1450px) {
  .Favorit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }
}
